<div id="flash-messages">
  <% flash.each do |type, message| %>
    <div data-controller="flash"
         data-flash-type-value="<%= type %>"
         data-flash-message-value="<%= message %>">
    </div>
  <% end %>
</div>
